[Desktop Entry]
Encoding=UTF-8
Name=InnoTek VirtualBox
GenericName=Virtual Machine
Type=Application
Comment=Run several virtual systems on a single host computer
Exec=virtualbox
TryExec=virtualbox
Icon=virtualbox.png
Categories=Emulator;System;
