[Desktop Entry]
Encoding=UTF-8
Name=VirtualBox
GenericName=PC virtualization solution
Type=Application
Comment=Run several virtual systems on a single host computer
Exec=virtualbox
TryExec=virtualbox
Icon=virtualbox.png
Categories=Emulator;System;
