Source: virtualbox-ose
Section: misc
Priority: extra
Maintainer: Debian Virtualbox Team  <pkg-virtualbox-devel@lists.alioth.debian.org>
Uploaders: Philipp Hug <debian@hug.cx>, Marvin Stark <marv@der-marv.de>, Michael Meskes <meskes@debian.org>, Patrick Winnertz <patrick.winnertz@skolelinux.org>, Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 5), dpatch, bcc, bin86, bzip2, g++-multilib [amd64], iasl, kbuild, libacl1-dev, libasound-dev, libc6-dev-i386 [amd64], libhal-dev, libidl-dev, libqt3-mt-dev, libsdl1.2-dev, libxalan110-dev, libxerces27-dev, libxcursor-dev, uuid-dev, xalan, xsltproc, yasm, zlib1g-dev
Standards-Version: 3.7.2
Homepage: http://www.virtualbox.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-virtualbox/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-virtualbox/trunk

Package: virtualbox-ose
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: virtualbox-ose-modules, virtualbox-ose-source
Conflicts: virtualbox
Replaces: virtualbox
Provides: virtualbox
Description: PC virtualization solution
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your Linux system. This includes Windows,
 Linux, FreeBSD, DOS, OpenBSD and others.
 .
 This packages contains the Open Source Edition of VirtualBox.

Package: virtualbox-ose-dbg
Section: devel
Priority: extra
Architecture: amd64 i386
Depends: virtualbox-ose (= ${binary:Version})
Description: PC virtualization solution (debug)
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your Linux system. This includes Windows,
 Linux, FreeBSD, DOS, OpenBSD and others.
 .
 This packages contains the debugging symbols for the Open Source Edition of
 VirtualBox.

Package: virtualbox-ose-source
Architecture: all
Depends: debhelper (>= 5), dpatch, module-assistant, bzip2, kbuild
Conflicts: virtualbox-source
Replaces: virtualbox-source
Provides: virtualbox-source
Description: Source for the VirtualBox module
 This package provides the source code for the virtualbox kernel modules.
 The virtualbox package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
 .
 VirtualBox is a free PC virtualization solution allowing you to run a wide
 range of PC operating systems on your Linux system. This includes Windows,
 Linux, FreeBSD, DOS, OpenBSD and others.
