Source: virtualbox-ose
Section: misc
Priority: extra
Maintainer: Debian Virtualbox Team <pkg-virtualbox-devel@lists.alioth.debian.org>
Uploaders: Philipp Hug <debian@hug.cx>,
           Marvin Stark <marv@der-marv.de>,
           Michael Meskes <meskes@debian.org>,
           Patrick Winnertz <winnie@debian.org>,
           Daniel Baumann <daniel@debian.org>,
           Hilko Bengen <bengen@debian.org>
Build-Depends: bcc,
               bzip2,
               chrpath,
               debhelper (>= 5.0.44~),
               docbook-xml,
               docbook-xsl,
               dpatch,
               g++-4.2,
               g++-4.2-multilib [amd64],
               gcc-4.2,
               gsoap,
               iasl,
               kbuild (>= 1:0.1.5svn2274),
               libacl1-dev,
               libasound-dev,
               libcap2-dev,
               libdrm-dev,
               libgl1-mesa-dev,
               libglu1-mesa-dev,
               libhal-dev,
               libidl-dev,
               libpng12-dev,
               libpixman-1-dev,
               libpulse-dev,
               libqt4-dev (>= 4.3.0),
               libsdl1.2-dev,
               libx11-dev,
               libxcursor-dev,
               libxext-dev,
               libxi-dev,
               libxmu-dev,
               libxrender-dev,
               libxslt1-dev,
               lynx-cur,
               po-debconf (>= 0.5.0),
               python-dev,
               uuid-dev,
               x11proto-gl-dev,
               x11proto-xf86dri-dev,
               xserver-xorg-dev,
               xsltproc,
               yasm (>= 0.7.0),
               zlib1g-dev
Standards-Version: 3.8.1
Homepage: http://www.virtualbox.org/
Vcs-Git: git://git.debian.org/git/pkg-virtualbox/virtualbox-ose.git
Vcs-Browser: http://git.debian.org/?p=pkg-virtualbox/virtualbox-ose.git

Package: virtualbox-ose-qt
Architecture: amd64 i386 lpia
Depends: ${shlibs:Depends},
         ${misc:Depends},
         virtualbox-ose
Pre-Depends: debconf | debconf-2.0
Replaces: virtualbox-ose
Description: x86 virtualization solution - Qt based user interface
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the Qt based graphical user interface of the Open Source
 Edition of VirtualBox.

Package: virtualbox-ose
Architecture: amd64 i386 lpia
Depends: ${shlibs:Depends},
         ${misc:Depends},
         adduser,
         python
Pre-Depends: debconf | debconf-2.0
Recommends: virtualbox-ose-modules,
            virtualbox-ose-qt,
            libgl1
Suggests: virtualbox-ose-source
Conflicts: virtualbox
Provides: virtualbox
Replaces: virtualbox
Description: x86 virtualization solution - base binaries
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the binaries for the Open Source Edition of
 VirtualBox. The virtualbox-ose-source package is also required in order to
 compile the kernel modules needed for virtualbox-ose. A graphical user
 interface for VirtualBox is provided by the package virtualbox-ose-qt.

Package: virtualbox-ose-dbg
Section: debug
Priority: extra
Architecture: amd64 i386 lpia
Depends: ${misc:Depends},
         virtualbox-ose (= ${binary:Version})
Description: x86 virtualization solution - debugging symbols
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the debugging symbols for the Open Source Edition of
 VirtualBox.

Package: virtualbox-ose-source
Architecture: all
Depends: ${misc:Depends},
         debhelper (>= 5),
         dpatch,
         bzip2,
         kbuild
Recommends: module-assistant
Conflicts: virtualbox-source
Replaces: virtualbox-source
Provides: virtualbox-source
Description: x86 virtualization solution - kernel module source
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the source code for the virtualbox kernel module.
 The virtualbox-ose package is also required in order to make use of these
 modules. Kernel sources or headers are required to compile this module.

Package: virtualbox-ose-guest-source
Architecture: all
Depends: ${misc:Depends},
         debhelper (>= 5),
         dpatch,
         bzip2,
         kbuild
Recommends: module-assistant
Description: x86 virtualization solution - guest addition module source
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the source code for the virtualbox guest addition kernel
 modules. The virtualbox-ose-guest-utils package is also required in order to
 make use of these modules. Kernel sources or headers are required to compile
 these modules.

Package: virtualbox-ose-guest-x11
Architecture: i386 amd64 lpia
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${xserver:Depends},
         virtualbox-ose-guest-utils,
         pciutils
Provides: ${xviddriver:Provides},
          ${xinpdriver:Provides}
Replaces: virtualbox-ose-guest-utils
Description: x86 virtualization solution - X11 guest utilities
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the X11 guest utilities of the Open Source Edition of
 VirtualBox. These utilities are meant to be run inside the virtual machine.
 They provide closer integration and improve the interactive performance.

Package: virtualbox-ose-guest-utils
Architecture: i386 amd64 lpia
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: virtualbox-ose-guest-modules,
            virtualbox-ose-guest-x11
Suggests: virtualbox-ose-guest-source
Description: x86 virtualization solution - non-X11 guest utilities
 VirtualBox is a free x86 virtualization solution allowing a wide range
 of x86 operating systems such as Windows, DOS, BSD or Linux to run on a
 Linux system.
 .
 This package provides the non-X11 guest utilities of the Open Source Edition of
 VirtualBox. These utilities are meant to be run inside the virtual machine.
 They provide closer integration and allow to share data through shared folders
 between the host system and the virtual machine.
