#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

# Name of the source packages
psource:=virtualbox-ose-source
gsource:=virtualbox-ose-guest-source

# The short upstream name
sname:=virtualbox-ose
sxname:=virtualbox-ose-qt
gname:=virtualbox-ose-guest
uname:=virtualbox-ose-guest-utils
uxname:=virtualbox-ose-guest-x11

# Some defines needed for X
SERVERMINVERS = $(shell cat /usr/share/xserver-xorg/serverminver 2>/dev/null)
VIDEOABI = $(shell cat /usr/share/xserver-xorg/videoabiver 2>/dev/null)
INPUTABI = $(shell cat /usr/share/xserver-xorg/inputabiver 2>/dev/null)
SERVER_DEPENDS = xserver-xorg-core (>= $(SERVERMINVERS))
VIDDRIVER_PROVIDES = xserver-xorg-video-$(VIDEOABI)
INPDRIVER_PROVIDES = xserver-xorg-input-$(INPUTABI)

MAKE:=kmk

upstreamversion := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)-.\+/\1/p')

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

# Generate README.Debian as text/html ...
debian/README.Debian.html: debian/virtualbox-ose.files/README.Debian.xml
	xsltproc --nonet --stringparam section.autolabel 1 \
	    -o $@ \
	    /usr/share/xml/docbook/stylesheet/nwalsh/html/docbook.xsl \
	    $<

# ... and text/plain
debian/virtualbox-ose.README.Debian: debian/README.Debian.html
	chmod 755 debian/lynx-dump-postprocess
	export LC_ALL=C; lynx -force_html -dump $< | ./debian/lynx-dump-postprocess > $@.tmp
	mv $@.tmp $@

env.sh: patch-stamp
	dh_testdir
	./configure \
	    --with-linux="/usr" \
	    --disable-kmods \
	    --enable-webservice

build: build-stamp
build-stamp: env.sh
	dh_testdir
	# Building package
	. ./env.sh; $(MAKE) \
		BUILD_TYPE=release \
		PATH_OUT=$(abspath out)
	# VBoxService
	$(MAKE) PATH_OUT=$(abspath out) -C src/VBox/Additions/common/VBoxService/
	# and vboxdrv.sh
	$(MAKE) -C src/VBox/Installer/linux $(abspath out/obj/Installer/linux/vboxdrv.sh) \
		PATH_OUT=$(abspath out)
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	# Cleaning package
	rm -rf out
	rm -f AutoConfig.kmk configure.log env.sh LocalConfig.kmk
	rm -f debian/$(sname).init build-stamp
	rm -f debian/virtualbox-ose.README.Debian debian/README.Debian.html
	find . -name "*.pyc" -exec rm -f {} \;
	dh_clean

#Rebuild the orig.tar.gz
dfsg-free: clean
	rm -rf ./kBuild
	rm -rf ./tools
	rm -rf ./src/VBox/Additions/os2
	rm -rf ./src/VBox/Additions/WINNT
	rm -f ./src/VBox/HostDrivers/Support/darwin/load.sh
	rm -f ./include/VBox/VBoxGuest.inc
	rm -f ./include/VBox/VBoxGuest16.h
	rm -f ./include/VBox/VBoxGuest.mac
	rm -f ./src/libs/xpcom18a4/xpcom/MoreFiles/FSCopyObject.c
	rm -f ./src/libs/xpcom18a4/xpcom/MoreFiles/FSCopyObject.h
	rm -rf ./src/libs/libpng*
	rm -rf ./src/libs/libxml2*
	rm -rf ./src/libs/libxslt*
	rm -rf ./src/libs/zlib*
	rm -rf ./src/VBox/Additions/linux/selinux-fedora
	find src/VBox/Additions/x11/x11include -mindepth 1 -maxdepth 1 \
		-type d -not -name '*mesa-*' | xargs rm -rf
	cd ..; mv $(CURDIR) virtualbox-ose-$(upstreamversion)-dfsg; \
	    tar --exclude .svn --exclude '.git*' --exclude debian \
	        -czf virtualbox-ose_$(upstreamversion)-dfsg.orig.tar.gz \
	        virtualbox-ose-$(upstreamversion)-dfsg

# install: DH_OPTIONS=
install: build debian/virtualbox-ose.README.Debian debian/README.Debian.html
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# This will get installed into the package by dh_installinit
	install -m 644 out/obj/Installer/linux/vboxdrv.sh debian/$(sname).init
	# Install helper scripts for vbox* interfaces
	dh_installifupdown -p$(sname)

serverabi: install
ifeq ($(SERVERMINVERS),)
	@echo error: xserver-xorg-dev needs to be installed
	@exit 1
else
	echo "xserver:Depends=$(SERVER_DEPENDS)" >> debian/$(uxname).substvars
	echo "xviddriver:Provides=$(VIDDRIVER_PROVIDES)" >> debian/$(uxname).substvars
	echo "xinpdriver:Provides=$(INPDRIVER_PROVIDES)" >> debian/$(uxname).substvars
endif

binary-arch: build install serverabi
	dh_testdir -s
	dh_testroot -s
	dh_installchangelogs -s
	dh_installdocs -s
	dh_installmenu -s
	dh_install -s
	-chmod 644 debian/$(sname)/usr/lib/virtualbox/sdk/bindings/xpcom/python/xpcom/*.py
	-chmod 644 debian/$(sname)/usr/lib/virtualbox/sdk/bindings/xpcom/python/xpcom/server/*.py
	-chmod 644 debian/$(sname)/usr/lib/virtualbox/sdk/bindings/xpcom/python/xpcom/client/*.py
	-chmod 755 debian/$(uxname)/usr/share/virtualbox/x11config.pl
	-chmod 755 debian/$(uxname)/usr/share/virtualbox/x11config15.pl
	-install -m 755 src/VBox/Additions/x11/Installer/VBoxRandR.sh debian/$(uxname)/usr/bin/VBoxRandR
	-chrpath -d debian/$(uxname)/usr/bin/VBoxClient
	-chrpath -d debian/$(uxname)/usr/lib/xorg/modules/drivers/vboxvideo_drv.so
	-chrpath -d debian/$(uxname)/usr/lib/xorg/modules/input/vboxmouse_drv.so
	-install -m 755 out/bin/additions/mountvboxsf debian/$(uname)/sbin/mount.vboxsf
	-chrpath -d debian/$(uname)/sbin/mount.vboxsf 
	-chrpath -d debian/$(uname)/usr/sbin/VBoxService
	-chrpath -d debian/$(uname)/usr/sbin/VBoxControl
	-chmod 755 debian/$(sname)/usr/share/virtualbox/VBox.sh
	dh_strip -s --dbg-package=$(sname)-dbg
	dh_link -s
	dh_compress -s
	dh_fixperms -s
	chmod +s debian/$(sname)/usr/lib/virtualbox/VBoxSDL
	chmod +s debian/$(sname)/usr/lib/virtualbox/VBoxHeadless
	chmod +s debian/$(sname)/usr/lib/virtualbox/VBoxNetDHCP
	chmod +s debian/$(sname)/usr/lib/virtualbox/VBoxNetAdpCtl
	chmod +s debian/$(sxname)/usr/lib/virtualbox/VirtualBox
	dh_installudev -s
	dh_installdebconf -s
	dh_installinit -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_install -i
	# These files have incorrect permissions, fixing it.
	chmod 755 debian/$(psource)/usr/src/modules/$(sname)/debian/rules
	chmod 755 debian/$(gsource)/usr/src/modules/$(gname)/debian/rules
	dh_link -i
	# Create .tar.bz2 for virtualbox*source
	cd debian/$(psource)/usr/src && \
	    tar -cjf $(sname).tar.bz2 modules && \
	    rm -rf modules
	cd debian/$(gsource)/usr/src && \
	    tar -cjf $(gname).tar.bz2 modules && \
	    rm -rf modules
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-arch binary-indep
.PHONY: patch unpatch serverabi \
	build clean binary-arch binary-indep binary install \
	binary-modules kdist kdist_configure kdist_image kdist_clean
