#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

# Name of the source packages
psource:=virtualbox-ose-source
gsource:=virtualbox-ose-guest-source
pdkms:=virtualbox-ose-dkms
gdkms:=virtualbox-ose-guest-dkms

# The short upstream name
sname:=virtualbox-ose
sxname:=virtualbox-ose-qt
gname:=virtualbox-ose-guest
uname:=virtualbox-ose-guest-utils
uxname:=virtualbox-ose-guest-x11
fname:=virtualbox-ose-fuse

INSTALL_PATH:=/usr/lib/virtualbox

# Some defines needed for X
SERVERMINVERS = $(shell cat /usr/share/xserver-xorg/serverminver 2>/dev/null)
VIDEOABI = $(shell cat /usr/share/xserver-xorg/videoabiver 2>/dev/null)
INPUTABI = $(shell cat /usr/share/xserver-xorg/inputabiver 2>/dev/null)
SERVER_DEPENDS = xserver-xorg-core (>= $(SERVERMINVERS))
VIDDRIVER_PROVIDES = xserver-xorg-video-$(VIDEOABI)
INPDRIVER_PROVIDES = xserver-xorg-input-$(INPUTABI)
XSERVER_VERSION = 17

MAKE:=kmk

upstreamversion := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)-.\+/\1/p')

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

# Generate README.Debian as text/html ...
debian/README.Debian.html: debian/virtualbox-ose.files/README.Debian.xml
	xsltproc --nonet --stringparam section.autolabel 1 \
	    -o $@ \
	    /usr/share/xml/docbook/stylesheet/nwalsh/html/docbook.xsl \
	    $<

# ... and text/plain
debian/virtualbox-ose.README.Debian: debian/README.Debian.html
	chmod 755 debian/lynx-dump-postprocess
	export LC_ALL=C; lynx -force_html -dump $< | ./debian/lynx-dump-postprocess > $@.tmp
	mv $@.tmp $@

out/env.sh: patch-stamp
	dh_testdir
	mkdir -p out
	./configure \
	    --ose \
	    --odir=$(abspath out) \
	    --with-linux="/usr" \
	    --disable-kmods \
	    --enable-webservice

build: build-stamp
build-stamp: out/env.sh
	dh_testdir
	# Building package
	. out/env.sh && $(MAKE) \
	    AUTOCFG=$(abspath out/AutoConfig.kmk) \
	    LOCALCFG=$(abspath debian/LocalConfig.kmk) \
	    PATH_OUT=$(abspath out) \
	    TOOL_YASM_AS=yasm \
	    XSERVER_VERSION=$(XSERVER_VERSION) \
	    VBOX_WITH_REGISTRATION_REQUEST= \
	    VBOX_WITH_UPDATE_REQUEST= \
	    $(if $(DH_VERBOSE),KBUILD_VERBOSE=2,)
	gcc debian/vdfuse/vdfuse.c -o debian/vdfuse/vdfuse -pipe -Wl,--rpath,$(INSTALL_PATH) -Wall $(CFLAGS) $(LDFLAGS) \
	    $(shell pkg-config --cflags --libs fuse) -Iinclude out/bin/VBoxDD.so out/bin/VBoxDD2.so out/bin/VBoxDDU.so \
	    out/bin/VBoxVMM.so out/bin/VBoxREM.so out/bin/VBoxRT.so
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	# Cleaning package
	rm -rf out
	rm -f build-stamp
	rm -f debian/virtualbox-ose.README.Debian debian/README.Debian.html
	rm -f debian/$(pdkms).install
	rm -f debian/$(gdkms).install
	rm -f debian/$(pdkms).dirs
	rm -f debian/$(gdkms).dirs
	rm -f debian/$(pdkms).links
	rm -f debian/$(gdkms).links
	rm -f debian/vdfuse/vdfuse

	find . -name "*.pyc" -exec rm -f {} \;
	dh_clean

#Rebuild the orig.tar.gz
dfsg-free: clean
	rm -rf ./kBuild
	rm -rf ./tools
	rm -rf ./src/VBox/Additions/os2
	rm -rf ./src/VBox/Additions/WINNT
	rm -f ./src/VBox/HostDrivers/Support/darwin/load.sh
	rm -f ./include/VBox/VBoxGuest.inc
	rm -f ./include/VBox/VBoxGuest16.h
	rm -f ./include/VBox/VBoxGuest.mac
	rm -f ./src/libs/xpcom18a4/xpcom/MoreFiles/FSCopyObject.c
	rm -f ./src/libs/xpcom18a4/xpcom/MoreFiles/FSCopyObject.h
	rm -rf ./src/libs/libpng*
	rm -rf ./src/libs/libxml2*
	rm -rf ./src/libs/libxslt*
	rm -rf ./src/libs/zlib*
	rm -rf ./src/VBox/Additions/linux/selinux-fedora
	find src/VBox/Additions/x11/x11include -mindepth 1 -maxdepth 1 \
		-type d -not -name '*mesa-*' | xargs rm -rf
	cd ..; mv $(CURDIR) virtualbox-ose-$(upstreamversion)-dfsg; \
	    tar --exclude .svn --exclude '.git*' --exclude debian \
	        -czf virtualbox-ose_$(upstreamversion)-dfsg.orig.tar.gz \
	        virtualbox-ose-$(upstreamversion)-dfsg

# install: DH_OPTIONS=
install: build debian/virtualbox-ose.README.Debian debian/README.Debian.html
	dh_testdir
	dh_testroot
	dh_clean -k

	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(gdkms).dirs.in > debian/$(gdkms).dirs
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(pdkms).dirs.in > debian/$(pdkms).dirs
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(gdkms).links.in > debian/$(gdkms).links
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(pdkms).links.in > debian/$(pdkms).links

	dh_installdirs

	# Create DKMS control files
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(pdkms).files/dkms.conf.in > debian/$(pdkms)/usr/src/virtualbox-ose-$(upstreamversion)/dkms.conf
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(gdkms).files/dkms.conf.in > debian/$(gdkms)/usr/src/virtualbox-ose-guest-$(upstreamversion)/dkms.conf

	# Build install files for the dkms'ified sources
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(pdkms).install.in > debian/$(pdkms).install
	sed -e 's/CVERSION/$(upstreamversion)/g' < debian/$(gdkms).install.in > debian/$(gdkms).install

	export VBOX_INSTALL_PATH=$(INSTALL_PATH) && \
	    cd out/bin/sdk/installer && \
	    python ./vboxapisetup.py install --root $(CURDIR)/debian/$(sname)
	# Install helper scripts for vbox* interfaces
	dh_installifupdown -p$(sname)

serverabi: install
ifeq ($(SERVERMINVERS),)
	@echo error: xserver-xorg-dev needs to be installed
	@exit 1
else
	echo "xserver:Depends=$(SERVER_DEPENDS)" >> debian/$(uxname).substvars
	echo "xviddriver:Provides=$(VIDDRIVER_PROVIDES)" >> debian/$(uxname).substvars
	echo "xinpdriver:Provides=$(INPDRIVER_PROVIDES)" >> debian/$(uxname).substvars
endif

binary-arch: build install serverabi
	dh_testdir -s
	dh_testroot -s
	dh_installchangelogs -s
	dh_installdocs -s
	dh_installmenu -s
	dh_install -s
	-chmod 644 debian/$(sname)$(INSTALL_PATH)/sdk/bindings/xpcom/python/xpcom/*.py
	-chmod 644 debian/$(sname)$(INSTALL_PATH)/sdk/bindings/xpcom/python/xpcom/server/*.py
	-chmod 644 debian/$(sname)$(INSTALL_PATH)/sdk/bindings/xpcom/python/xpcom/client/*.py
	-chmod 755 debian/$(uxname)/usr/share/virtualbox/x11config.pl
	-chmod 755 debian/$(uxname)/usr/share/virtualbox/x11config15.pl
	-install -m 755 src/VBox/Additions/x11/Installer/VBoxRandR.sh debian/$(uxname)/usr/bin/VBoxRandR
	-chrpath -d debian/$(uxname)/usr/bin/VBoxClient
	-chrpath -d debian/$(uxname)/usr/lib/xorg/modules/drivers/vboxvideo_drv.so
	-chrpath -d debian/$(uxname)/usr/lib/xorg/modules/input/vboxmouse_drv.so
	-chrpath -d debian/$(uname)/sbin/mount.vboxsf
	-chrpath -d debian/$(uname)/usr/sbin/VBoxService
	-chrpath -d debian/$(uname)/usr/sbin/VBoxControl
	-chmod 755 debian/$(sname)/usr/share/virtualbox/VBox.sh
	dh_pycentral -p$(sname)
	dh_strip -s --dbg-package=$(sname)-dbg
	dh_link -s
	dh_compress -s
	dh_fixperms -s
	chmod +s debian/$(sname)$(INSTALL_PATH)/VBoxSDL
	chmod +s debian/$(sname)$(INSTALL_PATH)/VBoxHeadless
	chmod +s debian/$(sname)$(INSTALL_PATH)/VBoxNetDHCP
	chmod +s debian/$(sname)$(INSTALL_PATH)/VBoxNetAdpCtl
	chmod +s debian/$(sxname)$(INSTALL_PATH)/VirtualBox
	# Override evdev driver
	dh_installudev -p$(uxname) --priority=69
	dh_installudev -s -N$(uxname)
	dh_installinit -s --no-start
	dh_installdeb -s
	dh_shlibdeps -p$(sname) -X debian/$(sname)$(INSTALL_PATH)/VBoxTestOGL -- \
	    -dRecommends debian/$(sname)$(INSTALL_PATH)/VBoxTestOGL -dDepends
	dh_shlibdeps -s -N$(sname)
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_install -i
	# These files have incorrect permissions, fixing it.
	chmod 755 debian/$(psource)/usr/src/modules/$(sname)/debian/rules
	chmod 755 debian/$(gsource)/usr/src/modules/$(gname)/debian/rules
	dh_link -i
	# Create .tar.bz2 for virtualbox*source
	cd debian/$(psource)/usr/src && \
		tar -cjf $(sname).tar.bz2 modules && \
		rm -rf modules
	cd debian/$(gsource)/usr/src && \
		tar -cjf $(gname).tar.bz2 modules && \
		rm -rf modules
	dh_compress -i
	dh_fixperms -i
	dh_installudev -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-arch binary-indep
.PHONY: patch unpatch serverabi \
	build clean binary-arch binary-indep binary install \
	binary-modules kdist kdist_configure kdist_image kdist_clean
