[Unit]
Description=VirtualBox Web Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/lib/virtualbox/vboxweb-service.sh start
PIDFile=/var/run/vboxweb-service.sh

[Install]
WantedBy=multi-user.target
